<%- contentFor('title') %> <%= title %>
<%- contentFor('body') %>
<h1 class="text-3xl font-bold"><%= title %></h1>

<div class="grid grid-cols-2 mt-2 gap-2 w-175">
    <span class="text-lg mt-2"><strong>Código:</strong> <%= cliente.codigo %></span>
</div>

<form class="mt-10" method="POST" action="/clientes/deletar">
    <input type="hidden" name="codigo" id="codigo" value="<%= cliente.codigo %>" />
    <button class="rounded-lg bg-red-500 font-semibold text-white text-lg py-2 px-5">Deletar</button>
</form>
