<%- contentFor('title') %> <%= title %>
<%- contentFor('body') %>
<h1 class="text-3xl font-bold"><%= title %></h1>

<div class="grid grid-cols-2 mt-2 gap-2 w-175">
    <span class="text-lg mt-2"><strong>Código:</strong> <%= cliente.codigo %></span>
</div>

<form id="form" class="mt-10 flex gap-2" method="POST" action="/clientes/deletar">
    <input type="hidden" name="codigo" id="codigo" value="<%= cliente.codigo %>" />
    <button class="rounded-lg bg-red-500 font-semibold text-white text-lg py-2 px-5">Deletar</button>
    <a class="rounded-lg bg-pink-300 font-semibold text-white text-lg py-2 px-5" href="/clientes/<%= cliente.codigo %>/editar">Editar</a>
</form>

<script>
const form = document.getElementById("form")

form.addEventListener("submit", ev => {
    ev.preventDefault()

    Swal.fire({
        title: "Tem certeza disso?",
        text: "Tem certeza que dejesa deletar este cliente? Esta acção não pode ser desfeita",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sim, prosseguir",
        cancelButtonText: "Cancelar"
    }).then((result) => {
        if (result.isConfirmed) {
            form.submit()
        }
    })
})
</script>
